.carousell{
  z-index: 0;
}
.seccion {
  
  background-size: cover;
  background-position: center;
  color: white;
  padding: 10px 5px;
  text-align: center;

}
#seccionh1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color:rgb(137, 35, 35);
  
  
}
.img1 {
  width: 100%;
  height: 500px;

}
.img2 {
  width: 100%;
  height: 500px;
  
}
.img3 {
  width: 100%;
  height: 500px;
}
.search-form input {
  width: 200px;
}

.search-form button {
  padding: 8px;
 
  background-color: #ff5a5f;
  border: none;
  color: white;
  cursor: pointer;
}


