header {
    background-color: #ff5a5f;
    padding: 10px 20px;
    color: white;
  }
  #MyCoworkingSpace {
    background-color: #ff5a5f;
    color: white;
    padding: 16px;
    font-size: 36px;
    border: none;
    text-decoration:#ff5a5f;
    text-decoration: none;
      font-weight: bold;

   }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }
  
  nav .nav-links {
    margin-left: 25%;
    list-style: none;
    display: flex;
    gap: 100px;
  }
  
  nav .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav .nav-links li a:hover {
    transform: translateY(-10px);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ff5a5f;
}
/* Dropdown Button */
.dropbtn {
  background-color: #ff5a5f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* The container <div> positions the dropdown content */
.dropdown {
  margin-right: 4%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-right: 10%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
