
footer {
  background-color: #f1f1f1;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  width: 100%;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.footer-social {
  color: #333;
  display: flex;
  align-items: center;
}

.footer-social a {
  margin: 0 10px;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-social {
    margin-top: 10px;
  }

  .footer-links p,
  .footer-social p {
    font-size: 14px;
  }

  .footer-social a {
    margin: 0 5px;
  }

  .footer-social img {
    width: 20px;
    height: 20px;
  }

  nav .nav-links {
    margin-left: 0;
    gap: 30px;
  }


#icono {
  color: black;
}

#menu,
#menu ul {
  list-style: none;
  border: 1px solid #000;
  background-color: #ecffec;
  padding: 0 0 26px 0;
  margin: 0;
}

#menu li {
  float: left;
  margin-right: 3px;
  border: 1px solid #ecffec;
  position: relative;
}

#menu ul {
  position: absolute;
  top: 25px;
  left: -1px;
  width: 200px;
  padding: 0;
  display: none;
}

#menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  line-height: 15px;
}

#menu a:link,
#menu a:visited {
  display: block;
  font-family: Tahoma;
  font-size: 0.75em;
}


#copy {
  color: #333;
}
#box-icon {
  width: 10%;
}

}
.descatados{
  background-size: cover;
  background-position: center;
  color: white;
  padding: 10px 5px;
  text-align: center;

}
.descatadosh2{
  text-align: center;
  font-size: 40px;
}

